@using CRMS1.Core.Models

<div class="align-center align-between pb20">
    <h3>User Management</h3>
    @if (CheckRolePermission.Insert)
    {
        <div class="btnDiv">
            <a class="btn" href="@Url.Action("Create", "User")">+ Add New User</a>
        </div>
    }
</div>

@if (@TempData["UserAlert"] != null)
{
    <div id="success" class="alert alert-success">
        <strong>Success !</strong> @TempData["UserAlert"]
    </div>
}

@(
    Html.Kendo().Grid<CRMS1.Core.ViewModels.IndexViewModel>().Name("Usergrid")
    .Columns(columns =>
    {
        columns.Bound(expression: c => c.UserName);
        columns.Bound(expression: c => c.Name);
        columns.Bound(expression: c => c.Email);
        columns.Bound(expression: c => c.MobileNo);
        columns.Bound(expression: c => c.Gender);
        columns.Bound(expression: c => c.Role);
        if (CheckRolePermission.Update || CheckRolePermission.Delete)
        {
            columns.Bound(p => p.Id).ClientTemplate(
             "#if ('" + CheckRolePermission.Update + "'=='True') {#"
             + " <a href='" + Url.Action("Edit", "User") + "/#=Id#'><img src=\"/Content/image/edit.svg\" width=\"19\"></img></a>"
             + "#}#"
             + "#if ('" + CheckRolePermission.Delete + "'=='True') {#"
             + " | <a href='" + Url.Action("Delete", "User") + "/#=Id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'><img src=\"/Content/image/trash.svg\"></img></a>"
             + "#}#"
             ).Width(150).Title("Action").Filterable(false);
        }
    }).HtmlAttributes(new { Style = ""})
    .Sortable()
    .Scrollable(h=>h.Height("auto"))
    .Filterable()
    .Pageable(p=>p.Refresh(true).PageSizes(true))
    .DataSource(datasource => datasource.Ajax().Read(read => read.Action("UserGrid", "User"))
        .PageSize(5).Model(model => model.Id(expression:p => p.Id)))
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
                <div class="toolbar">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </text>);
        })
    )


<script>
    $(document).ready(function () {
        //Alert Msg
        $('#success').fadeOut(3000);

        //Search
        $("#FieldFilter").keyup(function () {

            var value = $("#FieldFilter").val();
            grid = $("#Usergrid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({ field: "Email", operator: "contains", value: value });
            }
            else {
                grid.dataSource.filter({});
            }
        });
    })
</script>
