@model IEnumerable<CRMS1.Core.Models.ConferenceRoom>
@using Kendo.Mvc.UI
@using CRMS1.Core.ViewModels
@using CRMS1.Core.Models
@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#success').fadeOut(3000);
        $('#grid').data('KendoGrid').datasource.read();
        $('#grid').data('KendoGrid').refresh();
    })
</script>

<br />
<h2>Conference Room</h2>
@if (@TempData["AlertMsg"] != null)
{
    <div id="success" class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMsg"]
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create", "Room", new { @class = "btn btn-primary" })
</p>


@(
    Html.Kendo().Grid(Model).Name("grid")
    .Columns(columns =>
    {
        columns.Bound(expression: c => c.Name);
        columns.Bound(expression: c => c.Capacity);
        columns.Bound(c => c.Id).HeaderHtmlAttributes(new { @class = "center_text" }).ClientTemplate("<div class='k_action_table'>" + ("<a title='Edit' href='" + Url.Action("Edit", "Room") + "/#=Id#' " + "> Edit </a>") + " ||" +
                      "<a href='" + Url.Action("Delete", "Room") + "/#=Id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'>  Delete </a>").Width(200).Title("Action"); ;
    }).HtmlAttributes(new { Style = ""})
    .Sortable()
    .Scrollable(h=>h.Height("auto"))
    .Filterable()
    .Pageable(p=>p.Refresh(true).PageSizes(true))
    .DataSource(datasource => datasource.Ajax().Read(read => read.Action("ConferenceRoomGrid", "Room"))
        .PageSize(5).Model(model => model.Id(expression:p => p.Id)))
    )

@*columns.Template(c => Html.ActionLink("Edit", "Room", new { id = c.Id }));
    columns.Bound(p => p.Id).ClientTemplate(

            "<a href='" + Url.Action("Edit", "Room") + "/#=id#'>  Edit  </a>" + " |" +
           "/#@if ()#" +
         "<a href='" + Url.Action("Delete", "Room") + "/#=id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'>  Delete </a>").Width(200).Title("Action");
*@
@* columns.Template(t => { }).Title(string.Empty).Width(90)
    .ClientTemplate(@"<a href='" + Url.Action("Edit", "Room") + "?Id=#= Id#' class='btn btn-warning btn-xs' title='Modify this item'>Edit</a>");
        columns.Template(t => { }).Title(string.Empty).Width(90)
    .ClientTemplate(@"<a href='" + Url.Action("Delete", "Room") + "?Id=#= Id#' class='btn btn-danger btn-xs' title='Delete this item'>Delete</a>");*@