@model IEnumerable<CRMS1.Core.Models.ConferenceRoom>
@using Kendo.Mvc.UI
@using CRMS1.Core.Models

@{
    ViewBag.Title = "Index";
}
<style>
    .btnDiv {
        width: 210px;
        position: absolute;
        right: 232px;
        top: 165px;
    }
</style>

<div class="section">
    <div class="container" style="background-color: white;">

        <br />
        <h1>Conference Room</h1>
        <br />
        @if (@TempData["RoomAlert"] != null)
        {
            <div id="success" class="alert alert-success">
                <strong>Success !</strong> @TempData["RoomAlert"]
            </div>
        }

        @if (CheckRolePermission.Insert)
        {
            <div class="btnDiv">
                <a class="btn" href="@Url.Action("Create", "Room")">+ Add Conference Room</a>
            </div>
        }
        <br />
        @(
    Html.Kendo().Grid(Model).Name("grid")
        .Columns(columns =>
        {
            columns.Bound(expression: c => c.Name);
            columns.Bound(expression: c => c.Capacity);
            if (CheckRolePermission.Update || CheckRolePermission.Delete)
            {
                columns.Bound(p => p.Id).ClientTemplate(
                 "#if ('" + CheckRolePermission.Update + "'=='True') {#"
                 + " <a href='" + Url.Action("Edit", "Room") + "/#=Id#'><img src=\"/Content/image/edit.svg\" width=\"19\"></img></a>"
                 + "#}#"
                 + "#if ('" + CheckRolePermission.Delete + "'=='True') {#"
                 + " | <a href='" + Url.Action("Delete", "Room") + "/#=Id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'><img src=\"/Content/image/trash.svg\"></img></a>"
                 + "#}#"
                 ).Width(100).Title("Action").Filterable(false);
            }
        })
        .HtmlAttributes(new { Style = ""})
        .Sortable()
        .Scrollable(h=>h.Height("auto"))
        .Filterable()
        .Pageable(p=>p.Refresh(true).PageSizes(true))
        .DataSource(datasource => datasource.Ajax().Read(read => read.Action("ConferenceRoomGrid", "Room"))
            .PageSize(10)
            .Model(model => model.Id(expression:p => p.Id))
        )
        .ToolBar(toolbar =>
        {
        toolbar.Template(@<text>
                    <div class="toolbar">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </span>
                                    <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
            </text>);
        })
    )
        <br />
    </div>
</div>
<script>
    $(document).ready(function () {
        //Alert Msg
        $('#success').fadeOut(3000);

        //Search
        $("#FieldFilter").keyup(function () {

            var value = $("#FieldFilter").val();
            grid = $("#grid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({ field: "Name", operator: "contains", value: value });
            } else {
                grid.dataSource.filter({});
            }
        });
    })
</script>
