
@{
    ViewBag.Title = "AccessDenied";
    Layout = null;
}

<style>
    body {
        background-color: black;
        color: white;
    }

    h1 {
        color: red;
    }

    h5 {
        color: red;        
    }
    .click{
        color: white;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h1>
        <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
        <h3 class="w3-center w3-animate-right">You don't have permission to access this page.</h3>
        <h5 class="w3-center w3-animate-zoom"><a class="click" href="javascript: history.go(-1)"><b><u>Click here</u></b></a> for the previous page</h5>
        <h5 class="w3-center w3-animate-zoom">Error code : 403 forbidden</h5>
    </div>
</body>
</html>