@using CRMS1.Core.Models
@{
    ViewBag.Title = "DashBoard";
}


<!-- Section -->
<div class="section">
    <div class="container">
        <div class="topTitleHead pb20">
            <h1> Systems</h1>
        </div>

        <!----- Tabs ---->
        <div class="tab">
            <ul class="align-center" id="TabName">
                @*                <li> <a class="tablinks" onclick="openSystems(event, 'UserManagement')"> User Management </a></li>
                    <li> <a class="tablinks" onclick="openSystems(event, 'RoleManagement')"> Role Management</a> </li>
                    <li> <a class="tablinks" onclick="openSystems(event, 'Settings')">Settings </a> </li>
                    <li> <a class="tablinks" onclick="openSystems(event, 'Activitylogs')">Activity logs </a> </li>
                    <li> <a class="tablinks" onclick="openSystems(event, 'Errorlogs')">Error logs </a> </li>*@
            </ul>
        </div>

        <div id="ViewTab"></div>

        <div class="tabContentDetails" id="TabContent">
            @*            <div id="UserManagement" class="tabcontent" style="display: block">
            <div class="tableDiv" id="UserLoad">
            </div>
        </div>*@

            @*<div id="RoleManagement" class="tabcontent">
            <div class="tableDiv" id="RoleLoad">
            </div>
        </div>
        <div id="Settings" class="tabcontent">
            <div class="tableDiv" id="CMload">
            </div>
        </div>
        <div id="Activitylogs" class="tabcontent">
            <div class="align-center align-between pb20">
                <h2>Activity logs</h2>
            </div>
            <div class="tableDiv">
                <table>
                    <thead>
                        <tr>
                            <th> User Name </th>
                            <th> Url</th>
                            <th> Http Method </th>
                            <th> Http  Status </th>
                            <th> Excution Time </th>
                            <th class="text-center" style="width: 12%;"> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> -  </td>
                            <td> - </td>
                            <td> - </td>
                            <td>
                                <div class="statusDiv Processing"> Processing  </div>
                            </td>
                            <td> - </td>
                            <td>
                                <div class="actionIcon">
                                    <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> -  </td>
                            <td> - </td>
                            <td> - </td>
                            <td>
                                <div class="statusDiv Failed"> Failed  </div>
                            </td>
                            <td> - </td>
                            <td>
                                <div class="actionIcon">
                                    <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> -  </td>
                            <td> - </td>
                            <td> - </td>
                            <td>
                                <div class="statusDiv Processed"> Processed  </div>
                            </td>
                            <td> - </td>
                            <td>
                                <div class="actionIcon">
                                    <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> -  </td>
                            <td> - </td>
                            <td> - </td>
                            <td>
                                <div class="statusDiv New"> New  </div>
                            </td>
                            <td> - </td>
                            <td>
                                <div class="actionIcon">
                                    <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="Errorlogs" class="tabcontent">
            <div class="align-center align-between pb20">
                <h2>Error logs</h2>
            </div>
            <div class="tableDiv">
                <table>
                    <thead>
                        <tr>
                            <th> User Name </th>
                            <th> Url</th>
                            <th> Http Method </th>
                            <th> Http  Status </th>
                            <th> Excution Time </th>
                            <th class="text-center" style="width: 12%;"> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> -  </td>
                            <td> - </td>
                            <td> - </td>
                            <td>
                                <div class="statusDiv Failed"> Failed  </div>
                            </td>
                            <td> - </td>
                            <td>
                                <div class="actionIcon">
                                    <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                    <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@
        </div>
    </div>
</div>
<script>
    function SelectTab(SystemsName)
    {
        var url = $('#child' + SystemsName).data('url');
        $('#child' + SystemsName).load(url)
    }
    function openSystems(evt, SystemsName)
    {
        var i, tabcontent, tablinks;
        SelectTab(SystemsName);
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById("child"+SystemsName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("FormTabList", "FormMst")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                var result = data.filter(x => x.ParentFormName == "System");
                $.each(result, function (index, item) {
                    $("<li><a id='tab" + item.Name + "' class='tablinks' onclick='openSystems(event,\"" + item.Name + "\"\)'\'>" + item.Name + "</a></li>").appendTo("#TabName");
                });
                $.each(result, function (index, item) {
                    $("<div id='child" + item.Name + "' class='tabcontent' style='display:block' data-url='" + item.NavigateURL + "'></div>").appendTo("#TabContent");
                });
                loadtab(result[0].Name);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    });

    function loadtab(TabName) {
        var activeTabId = '@ViewBag.DashBoard';
        var tablinks = document.getElementsByClassName("tablinks");
        if (activeTabId == '')
        {
            var tabcontent = document.getElementById("child" + TabName);
            SelectTab(TabName);
            tablinks[0].className = 'tablinks active';
            tabcontent.style.display = "block";
        }
        else
        {
            var tablinks = document.getElementById("tab" + activeTabId);
            var tabcontent = document.getElementById("child" + activeTabId);

            SelectTab(activeTabId);
            tablinks.className = 'tablinks active';
            tabcontent.style.display = "block";
        }
    }
</script>



@*    $(document).ready(function ()
    {
        var activeTabId = parseInt('@ViewBag.DashBoard');
        var tabcontent = document.getElementsByClassName("tabcontent");
        var tablinks = document.getElementsByClassName("tablinks");
        if (window.performance.getEntriesByType("navigation")[0].type == 'reload' || activeTabId == 0) {
            SelectTab("UserManagement");
            tablinks[0].className = 'tablinks active';
            tabcontent[0].style.display = "block";
        }
        else
        {
            tablinks[0].className = 'tablinks';
            tabcontent[0].style.display = "none";
            if (activeTabId == 1) {
                SelectTab("RoleManagement")
            }
            else if (activeTabId == 2) {
                SelectTab("Settings")
            }
            tablinks[activeTabId].className = 'tablinks active';
            tabcontent[activeTabId].style.display = "block";
        }

    });*@