

@if (@TempData["RoleAlert"] != null)
{
    <div id="success" class="alert alert-success">
        <strong>Success !</strong> @TempData["RoleAlert"]
    </div>
}

@(
    Html.Kendo().Grid<CRMS1.Core.Models.Roles>().Name("Rolegrid")
    .Columns(columns =>
    {
        columns.Bound(expression: c => c.Name);
        columns.Bound(expression: c => c.Code);
        columns.Bound(c => c.Id).HeaderHtmlAttributes(new { @class = "center_text" }).ClientTemplate("<div class='k_action_table'>" + ("<a title='Edit' href='" + Url.Action("Edit", "RoleManagement") + "/#=Id#' " + "><i class='fa fa-pencil'></i></a>") + " | " +
                      "<a href='" + Url.Action("Delete", "RoleManagement") + "/#=Id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'><i class='fa fa-trash'></i></a>" + " | " + ("<a title='Permission' href='" + Url.Action("Index", "FormRoleMapping") + "/#=Id#' " + "><i class='fa fa-gear'></i></a>")).Width(150).Title("Action");
    }).HtmlAttributes(new { Style = ""})
    .Sortable()
    .Scrollable(h => h.Height("auto"))
    .Filterable()
    .Pageable(p=>p.Refresh(true).PageSizes(true))
    .DataSource(datasource => datasource.Ajax().Read(read => read.Action("RoleGrid", "RoleManagement"))
    .PageSize(5).Model(model => model.Id(expression:p => p.Id)))
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
                <div class="toolbar">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </text>);
        })
    )

<script>
    $(document).ready(function () {
        //Alert Msg
        $('#success').fadeOut(3000);

        //Search
        $("#FieldFilter").keyup(function () {

            var value = $("#FieldFilter").val();
            grid = $("#Rolegrid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({ field: "Name", operator: "contains", value: value });
            } else {
                grid.dataSource.filter({});
            }
        });
    });
</script>

